.card_container {

  /* margin-left: 10px;
  margin-right: 10px; */
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-decoration: none;
  position: relative;
}

.card_container:hover .button {
  display: block;
}

.card_container img {
  padding: 10px;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.button {
  display: none;
  padding: 5px 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  margin: 10px 0;
  border-radius: 30px;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.button {
  background-color: var(--primary-shade);
}
.rating {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.products_container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 100px auto 100px auto;
  gap: 50px;
  overflow: hidden;
  
}

.products_container section {
  margin: 0 auto;
  
}
.products_flexed{
  box-shadow: none;
  height: auto;
  display: flex;
  gap: 50px;
  width: 100%;
}

.products_flexed h3{
  padding: 20px 0px;
}

.products_flexed .button{
  display: block;
  position: static;
  width: 150px;
  margin-right: 40px;
}
.products_flexed{
  height: 50vh;
}

.products_flexed img{
  width: 300px !important;
  height: auto;
}

@media screen and (max-width: 768px) {
  .products_flexed {
    display: flex;
    flex-direction: column;
  }
}
